@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712 !important;
  color: white !important;
}
.navbarcss{
  background-color: #030712!important;
  color: white!important;
}
.logo{
  width: 30px!important;
  height: auto;
}